<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">


    <test name="C:/Users/Phoenix/IdeaProjects/UsersBugred/5">
        <classes>
            <class name="Tests.RegistrationLoginTests.RegistrationTest"/>
        </classes>
    </test>

    <test name="C:/Users/Phoenix/IdeaProjects/UsersBugred/4">
        <classes>
            <class name="Tests.CreationTests.AddScheduleToTaskTest"/>
        </classes>
    </test>

</suite>